---
import Layout from '@layouts/PostDetail.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '@consts'
---

<Layout tags={['about']} title={`About | ${SITE_TITLE}`} description={SITE_DESCRIPTION} pubDate={new Date('August 08 2021')} updatedDate={new Date('August 08 2022')} heroImage={import.meta.env.BASE_URL + 'placeholder-about.jpeg'}>
    <p>Hello, my name is Feng Wei. I am a frontend developer with 4 years of experience in the field. Throughout my career, I have worked on various projects including rich text editors and mini-programs. Currently, I am actively engaged in learning Rust. I have a strong desire to constantly evolve and explore new things, as I am not content with the status quo.</p>

    <p>Apart from my professional pursuits, I have a passion for spending time with cats and strolling in parks. These activities bring me joy and help me relax after a busy day. I believe in maintaining a healthy work-life balance and finding happiness in both professional and personal aspects of life.</p>

    <p>I am always eager to take on new challenges and expand my knowledge and skills. I am a dedicated and detail-oriented individual who strives for excellence in everything I do. I enjoy collaborating with others and believe in the power of teamwork to achieve remarkable results.</p>

    <p>Thank you for taking the time to read my introduction. I look forward to exploring new opportunities and making meaningful contributions to the world of frontend development.</p>
</Layout>
