---
import { SITE_TITLE, SITE_DESCRIPTION } from '@consts'
import PageLayout from '@layouts/PageLayout.astro'
import { getCollection } from 'astro:content'
import SearchComponent from '@components/Search.svelte'
import PagefindSearch from 'astro-pagefind/components/Search'

const posts = await getCollection('blog', ({ data }) => !data.draft)
---

<PageLayout title={`Search | ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
    <h1 class="text-3xl">Search</h1>
    <p>Search any posts...</p>

    <SearchComponent client:load {posts}>
        <PagefindSearch id="search" className="pagefind-ui" slot="pagefind" />
    </SearchComponent>
</PageLayout>
