---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const isActive = href === pathname || href === pathname.replace(import.meta.env.BASE_URL, '')
const linkHref = typeof href === 'string' && /(^https?:\/\/)/gm.test(href) ? href : import.meta.env.BASE_URL.replace(/\/$/, '') + href
---

<a href={linkHref} class="link" class:list={[className, { active: isActive }]} {...props}>
    <slot />
</a>

<style>
    a.link {
        @apply no-underline;
        &.active {
            @apply underline decoration-wavy decoration-2 underline-offset-4;
        }
    }
</style>
